
<!-- 创建Content的容器-->
<div class="content w clear">

    <!-- 设置一个标题 -->
    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h2>

    <!-- 创建content中的三个div -->
    <div class="contDiv firDiv">
        <h3> <%= first.title %> </h3>
        <p class="p1"><%= first.summary %>  </p>
        <div class="imgDiv">
            <img src="<%= first.picSrc %>" alt="小孩"/>
        </div>
        <p class="p2">
            <%= first.content %>
        </p>
        <a class="learnMore" href="#">Learn More</a>
    </div>
    <div class="contDiv">
        <h3> <%= second.title %></h3>
        <p class="p1"><%= second.summary %></p>
        <div class="imgDiv">
            <img src="<%= second.picSrc %>" alt="小孩"/>
        </div>
        <p class="p2">
            <%= second.content %>
        </p>
        <a class="learnMore" href="#">Learn More</a>

    </div>
    <div class="contDiv">
        <h3>Uber Culture</h3>
        <p class="p1">Fresh. Modern and ready for future</p>
        <div class="imgDiv">
            <img src="img/pic/pic3.jpg" alt="小孩"/>
        </div>
        <p class="p2">
            Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
        </p>
        <a class="learnMore" href="#">Learn More</a>

    </div>

</div>

